.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store

data/raw/**
data/processed/**
!data/processed/flight_delay_power_bi_final.csv
!data/processed/visualization-power-bi.pbix
outputs/models/
notes.md
